@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

html, body{ 
    min-width: 100vh;
    background-color: darkgrey;

}

header{
    height: 50%;
    width: 100%;
    background-color: black;
    color: white;  
    text-align: center; 
    
    
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    text-align: center; 
    font-size: 10vh;
}

header p {
    padding-bottom: 50px;
}

section{
    
    font-size: 2.5vw;
    
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*Aqui eu errei ao fazer sozinho, vh é condizendo com o tamanho da viewport, indenpente do equipamento, ele da um efeito paralax usando o espaçamento interno, padding*/
    line-height: 2em;
    /*lembrar do espaçamento entra linhas e anotar no caderno*/
    padding-left: 40px;
}


section.normal{
    background-color: white;
    padding-left: 60px;
}

section.imagem{
    
    background-color: rgba(37, 37, 37, 0.479);
    color: white;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.322);
    padding: 25px;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 10px;
    
   

}

section#fundo01 {
    background-image: url(../imagens/background001.jpg);
    
    background-size: cover;
    box-shadow: inset 0px 0px 13px 5px black;
    background-attachment: fixed;
    font-weight: bold;
    background-position: right center;
   

}

section#fundo02 {
    background-image: url(../imagens/background002.jpg);
    background-position: left center;
    background-size: cover;
    box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.397);
    background-attachment: fixed;
    font-weight: bold;
    background-position: right center;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5vh;
}